body {
    background-color:#6E7E85 !important;
}

h1 {
    font-size: 120px;
    color: white;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

p {
    color: gainsboro;
}

@-webkit-keyframes glow {
    from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0017e6, 0 0 40px #0017e6, 0 0 50px #0017e6, 0 0 60px #0017e6, 0 0 70px #0017e6;
    }
    to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0017e6, 0 0 40px #0017e6, 0 0 50px #0017e6, 0 0 60px #0017e6, 0 0 70px #0017e6;
    }
}

/* 0 0 20px #fff, 0 0 30px #3e51fd, 0 0 40px #3e51fd, 0 0 50px #3e51fd, 0 0 60px #3e51fd, 0 0 70px #3e51fd, 0 0 80px #3e51fd; */

div .artist-card {
    display: flex;
    padding: 30px;
    justify-content: space-between;
}

.carousel-item {
    height: 100%;
    width: 100%;
}

.navbar-custom {
    background-color:#001d53 ;
    
}

.navbar-brand {
    font-family: fantasy;
    display:flex;
    align-self: center;
    
}

.nav-item {
    color: aliceblue;
}

.dropdown-item {
    background-color: cadetblue;
}